body {
  font-family: sans-serif;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  box-sizing: border-box;
  color: #242424;
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

#root {
  height: 100vh;
}

.App {
  height: 100%;
  padding: 20px;
  background: #fcfcfc;
  transition: all .5s ease;
}

.container {
  width: 600px;
  margin: 0 auto;
}

.nav {
  position: sticky;
  top: 0;
  padding: 40px 0;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
}

.nav-content h1 {
  font-size: 40px;
}

.nav-content button {
  padding: 5px 10px;
  background: #D33668;
  color: #ffffff;
  border-radius: 5px;
  font-weight: bold;
}

.lorem-container {
  margin-top: 50px;
}

.lorem {
  margin-bottom: 40px;
  line-height: 1.5;
}

.lorem h2 {
  color: #D33668;
  font-size: 28px;
}

/* Dark Mode */
.App.dark {
  background: #282d35;
}

.App.dark .nav-content h1, .App.dark .lorem * {
  color: #ffffff;
}

.App.dark .nav-content button {
  background: #fac1d3;
  color: #282d35;
}

.App.dark .lorem h2 {
  color: #fac1d3;
}
