body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

#root {
  background: #f2fbff;
  height: 100vh;
}

.App {
  width: 100%;
  height: 100%;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.side-btn {
  position: absolute;
  left: 40px;
  top: 40px;
  font-size: 40px;
  color: #0098da;
  animation: btn_scale 2s linear infinite;
}

@keyframes btn_scale {
  0%, 100% {transform: scale(1);}
  50% {transform: scale(1.5);}
}

.modal-btn {
  font-size: 20px;
  color: #ffffff;
  background: #242424;
  padding: 5px 15px;
  border-radius: 5px;
  border: 4px solid #242424;
  transition: all .3s ease;
}

.modal-btn:hover {
  color: #242424;
  background: #ffffff;
}

/* modal design */
#modal-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}

.modal-content {
  width: 500px;
  height: 300px;
  background: #ffffff;
  border-radius: 5px;
  color: #0c267c;
  font-size: 28px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.close-modal-btn, .close-sidebar-btn {
  color: #c21a1a;
  font-size: 24px;
  position: absolute;
  top: 20px;
  right: 20px;
  font-weight: bold;
  transition: all .3s ease;
  text-transform: uppercase;
}

.close-modal-btn:hover, .close-sidebar-btn:hover {
  color: #ffafaf;
}

/* sidebar design */
#sidebar-container {
  position: absolute;
  top: 0;
  left: 0%;
  width: 400px;
  height: 100%;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  transform: translateX(-100%);
  transition: transform .6s ease;
}

#sidebar-container.show {
  transform: translateX(0%);
}

.title {
  font-size: 28px;
  letter-spacing: 0.1em;
  text-shadow: 0px 5px 5px #c7c7c7;
  padding: 20px;
  margin-bottom: 40px;
}

.title span {
  color: #0098da;
}

.link-list li {
  width: 100%;
  padding: 20px 0 20px 20px;
  font-size: 24px;
  text-transform: capitalize;
  color: #475680;
  display: flex;
  align-items: center;
  transition: all .3s ease;
}

.link-list a {
  color: #475680;
  margin-left: 20px;
}

.link-list li:hover {
  background: #b8d2f5;
}

.social-list {
  width: 100%;
  position: absolute;
  bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-list li {
  margin: 0 10px;
}

.social-list a {
  color: #2baefa;
  font-size: 28px;
  transition: all .3s ease;
}

.social-list li:hover a {
  color: #1c19b8;
}