body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  box-sizing: border-box;
}

#root {
  padding: 80px;
  background: #f2fbff;
  min-height: 100vh;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loader {
  font-size: 60px;
  color: #0c2c68;
}

.title {
  width: 200px;
  font-size: 50px;
  position: relative;
}

.title::after {
  content: '';
  position: absolute;
  width: 40%;
  left: 50%;
  bottom: -15px;
  transform: translateX(-50%);
  background: #0abebe;
  height: 4px;

}

#container {
  margin-top: 50px;
  width: 1300px;
  display: grid;
  grid-template-columns: 200px 1fr;
  column-gap: 80px;
}

.company-container {
  display: flex;
  flex-direction: column;
}

.company-btn {
  background: transparent;
  color: #000000;
  font-size: 20px;
  padding: 10px;
  border: transparent;
  transition: all .3s ease;
  margin-bottom: 15px;
}

.company-btn:hover {
  border-left: 2px solid #0abebe;
  color: #0abebe;
}

.tab-container {
  text-align: left;
  font-size: 20px;
  margin-bottom: 50px;
}

.tab-company {
  color: #26498a;
  background: #b6d2df;
  display: inline-block;
  padding: 3px 5px;
  border-radius: 3px;
  font-weight: bold;
  margin: 10px 0 15px;
}

.tab-dates {
  color: #3a4c6d;
  margin-bottom: 30px;
}

.duty-list li {
  display: flex;
  width: 100%;
  height: 60px;
  line-height: 1.3;
  color: #3a4c6d;
}

.duty-list li div {
  width: 7%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0abebe;
}

.duty-list li p {
  width: 93%;
}

.more-btn {
  color: #e3f4fc;
  background: #0abebe;
  font-size: 18px;
  font-weight: bold;
  padding: 5px 30px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  transition: all .3s ease;
}

.more-btn:hover {
  color: #0c2c68;
  background: #e3f4fc;
}


