body {
  font-family: sans-serif;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  color: #242424;
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
  outline: none;
}

#root {
  height: 100vh;
  padding: 100px;
  background: #e7edf1;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 36px;
  color: #122A42;
}

.search-bar {
  width: 600px;
  padding: 15px;
  margin: 20px 0 40px;
  background: transparent;
  border: none;
  border-bottom: 3px solid #BCCCDB;
  font-size: 18px;
}

.page-controller {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 40px;
}

.page-controller button {
  padding: 5px;
  background: #4AA6E8;
  color: #ffffff;
  border-radius: 5px;
}

.page-counter {
  margin: 0 20px;
  color: #334D67;
  font-size: 20px;
  font-weight: bold;
}

.news-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.news {
  padding: 20px 30px;
  background: #ffffff;
  border-radius: 5px;
}

.news h6 {
  color: #122A42;
  font-size: 18px;
}

.news p {
  margin: 5px 0 10px;
  color: #627D98;
  font-weight: 500;
}

.news span a {
  margin-right: 10px;
  color: #4AA6E8;
  font-size: 14px;
}

.news button {
  color: #a01111;
  font-size: 14px;
}

